/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Font*/
body {
	font-family: "Open Sans",sans-serif;
}

/*navigation bar*/
/*1rem = 16px (default font size)*/

nav {
	/* shorthand property */
	padding: 0.8rem;
	/* 
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left: 0.8rem*/

	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is BEST used whe creating space between an element's border and it's content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

/*intro section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem ;
	text-align: center;
}

.header {
	/*	best used when horizontally aligning text instad of using margin and padding*/
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	/*allows the cards to appear beside each other*/
	display: inline-block;

	/*aligns elements with the tallest element in line*/
	vertical-align: top;

	/* allows for cards to have equal height that adjust with the content */
	min-height: 175px;

	/*	dividing the parent container's width 30 + 30 + 30*/

	width: 30%;

	/* creates horizontal spacing between cards */

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


/*INSERT ACTIVITY HERE*/
/*pre-footer*/

/*for the background color, use #002540;*/






.card1 {
	padding:.99rem;
	background-color: #002540;
	margin-top: 10px;
	width: 25%;
	color: white;

	
	
}


}
/*the padding property here is used to create space between the border of the box and the content which are the span tags*/

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*the margin-left and margin-right creates space horizontally between the span tags*/

#pre-footer {
  display: flex;
  flex-wrap: wrap;
}

}